openapi: 3.2.0
info:
  title: Albato Embedded Users API
  description: REST API for Albato Embedded iPaaS, enabling SaaS companies to integrate Albato's automation capabilities into their products. Manage teams, users, connectors, and white-label automation flows for end customers.
  version: 1.0.0
  contact:
    name: Albato Support
    url: https://albato.com/embedded
servers:
- url: https://albato.com/api/v1/embedded
  description: Albato Embedded API
security:
- ApiKeyAuth: []
tags:
- name: Users
  description: Manage team users
paths:
  /teams/{teamId}/users:
    get:
      operationId: listTeamUsers
      summary: List team users
      description: Returns users for a specific team.
      tags:
      - Users
      parameters:
      - name: teamId
        in: path
        required: true
        description: Team ID
        schema:
          type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserList'
    post:
      operationId: createTeamUser
      summary: Create a team user
      description: Adds a new user to a team.
      tags:
      - Users
      parameters:
      - name: teamId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
components:
  schemas:
    User:
      allOf:
      - $ref: '#/components/schemas/UserRequest'
      - type: object
        properties:
          id:
            type: string
          team_id:
            type: string
          created_at:
            type: string
            format: date-time
    UserList:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/User'
    UserRequest:
      type: object
      required:
      - email
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum:
          - admin
          - member
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
