openapi: 3.2.0
info:
  title: Albato Embedded Connectors API
  description: REST API for Albato Embedded iPaaS, enabling SaaS companies to integrate Albato's automation capabilities into their products. Manage teams, users, connectors, and white-label automation flows for end customers.
  version: 1.0.0
  contact:
    name: Albato Support
    url: https://albato.com/embedded
servers:
- url: https://albato.com/api/v1/embedded
  description: Albato Embedded API
security:
- ApiKeyAuth: []
tags:
- name: Connectors
  description: Manage app connectors
paths:
  /connectors:
    get:
      operationId: listConnectors
      summary: List connectors
      description: Returns all available app connectors for embedded use.
      tags:
      - Connectors
      parameters:
      - name: search
        in: query
        description: Search by connector name
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: List of connectors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorList'
components:
  schemas:
    ConnectorList:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Connector'
    Connector:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        category:
          type: string
        description:
          type: string
        triggers_count:
          type: integer
        actions_count:
          type: integer
        icon_url:
          type: string
          format: uri
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
