openapi: 3.2.0
info:
  title: Albato Embedded Templates API
  description: REST API for Albato Embedded iPaaS, enabling SaaS companies to integrate Albato's automation capabilities into their products. Manage teams, users, connectors, and white-label automation flows for end customers.
  version: 1.0.0
  contact:
    name: Albato Support
    url: https://albato.com/embedded
servers:
- url: https://albato.com/api/v1/embedded
  description: Albato Embedded API
security:
- ApiKeyAuth: []
tags:
- name: Templates
  description: Manage automation templates
paths:
  /templates:
    get:
      operationId: listTemplates
      summary: List templates
      description: Returns automation templates available for embedded use.
      tags:
      - Templates
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateList'
    post:
      operationId: createTemplate
      summary: Create a template
      description: Creates a new automation template for embedded users.
      tags:
      - Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemplateRequest'
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
components:
  schemas:
    Template:
      allOf:
      - $ref: '#/components/schemas/TemplateRequest'
      - type: object
        properties:
          id:
            type: string
          created_at:
            type: string
            format: date-time
    TemplateRequest:
      type: object
      required:
      - name
      properties:
        name:
          type: string
        description:
          type: string
        category:
          type: string
        steps:
          type: array
          items:
            type: object
    TemplateList:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Template'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
